{% extends 'base.html.twig' %}

{% block title %}
  Tickets traités
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">
      Tickets traités
    </h1>
    {{ include('ticket/_index.html.twig') }}
  </div>
{% endblock %}
